.*
build/
run.log
*.swp
smasher/lib/data_clean
smasher/lib/data_loader
smasher/lib/libpylon_smasher*
smasher/lib/opcache.so
smasher/lib/sdict_speed
smasher/lib/smasher_speed
smasher/lib/smasher_test
smasher/used/
