<phpunit bootstrap="bootstrap.php" colors="true" >
    <testsuites>
        <testsuite name = "cases">
            <directory suffix = "test.php">cases</directory>
        </testsuite>
    </testsuites>
	<logging>
	  <log type="coverage-html" target="./report" charset="UTF-8" highlight="true"/>
	</logging>

</phpunit>
